extends layout
block content
  script(type="text/coffeescript", src='/javascripts/index.coffee')
  div(id="main")
    div(id="left")
      div(id="player_1")
      hr
      div(id="player_2")
    div(id="right")
      div(id="notice")
      div(id="roomList")
      div(id="gamePool")
      div(id="dlgBg")
      div(id="login")
        h1 登陆
        div(class="box")
          input(type="text",id="nickname",maxlength="10",class="in")
          input(type="button",id="loginBtn",class="go",value="加入游戏")
    div(id="ready")
      button(class="button") READY