a {
  color: #00B7FF;
}

table {
  width: 525px;
  height: 525px;
  margin: 0px;
  padding: 0px;
  border-collapse:collapse;
}

.player-info{
padding: 10px;
margin-bottom: 20px;
border: 1px solid #EEE;
border: 1px solid rgba(0, 0, 0, 0.05);
-webkit-border-radius: 4px;
}

.notice-turn {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#gamePool {
  width: 525px;
  height: 525px;
  padding: 5px;
  background-image:url(/images/bg.jpg);
}

tr.def {
  padding-top: 2px;
  padding-bottom: 2px;
}
tr.def td{
  border-width: 1px 1px 1px 1px; /* 设置边框状粗细：上 右 下 左 = 对应：1px 0 0 1px */
  background-size: 100%;
}

#login{
  width:300px;
  position: absolute;
  left:0;
  top:0;
  z-index:1000;
}

  /*背景*/
  #dlgBg{width:100%;height:100%;background:#000;position: absolute;left:0;top:0;z-index:998;
    filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}